{% extends "main/base.html" %}
{% block content %}
<form method="GET">
    <input type="text" name="nome" placeholder="Buscar por nome ou CPF"/>
    <input type="submit" value="Buscar">
</form>
<a href="{%  url 'cliente.novo' %}">Novo</a>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Data de Nascimento</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in object_list %}
        <tr>
            <td>{{ cliente.nome_completo }}</td>
            <td>{{ cliente.cpf }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>{{ cliente.endereco }}</td>
            <td>{{ cliente.bairro }}</td>
            <td>{{ cliente.cidade }}</td>
            <td>{{ cliente.data_nascimento|date:"d/m/Y" }}</td>
            <td>
                <a href="{% url 'cliente.atualizar' cliente.pk %}">Editar</a>
                <a href="{% url 'cliente.excluir' cliente.pk %}">Excluir</a>
                <a href="{% url 'cliente.animais' cliente.pk %}">Animais</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}