{% extends "main/base.html" %}
{% block content %}
<style>
    table tbody tr{
        text-align: center;
        background-color: rgb(240, 240, 240);
    }
    table thead tr{
        background-color: #85D6D5;
        color: black;
        border-collapse: collapse;
        height: 30px;
    }
    tbody tr:hover{
        background-color: white;
    }
    table{
        border-collapse: collapse;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 15px;
        width: 98%;
        table-layout: auto; 
    }
    .card-table{
        width: 98%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #5a8d8d;
        border-radius: 15px;
        margin: 20px;
    }
    .filtro{
        text-align: center;
        margin-left: 600px;
        margin-top: 15px;
        border: 1px solid black;
    }
    .btn-novo{
        background-color: yellowgreen;
        text-decoration: none;
        border-radius: 20px;
        color: black;
        padding: 5px 5px;
        border: 1px solid black;
        margin-left: 20px;
    }
    #btn-excluir{
        background-color: red;
        text-decoration: none;
        border-radius: 15px;
        color: white;
        padding: 5px 5px;
        margin:1px;
        display: flex;
        width: 60px;
        border: 1px solid black;
    }
    #btn-editar{
        background-color: blue;
        text-decoration: none;
        border-radius: 15px;
        color: white;
        padding: 5px 5px;
        margin:1px;
        display: flex;
        width: 60px;
        border: 1px solid black;
    }
    #btn-animais{
        background-color: green;
        text-decoration: none;
        border-radius: 15px;
        color: white;
        padding: 5px 5px;
        margin:1px;
        display: flex;
        width: 60px;
        border: 1px solid black;
    }
    .clientes-cadastrados{
        text-align: center;
    }
</style>
<form method="GET">
    <input class="filtro" type="text" name="nome" placeholder="Buscar por nome ou CPF"/>
    <input type="submit" value="Buscar">
</form>
<div class="clientes-cadastrados">
    <h3>CLIENTES CADASTRADOS</h3>
</div>
<a href="{%  url 'cliente.novo' %}" class="btn-novo">Adicionar Cliente</a>
<div class="card-table">
    <div style="overflow-x:auto">
        <table border="1px">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Data de Nascimento</th>
                    <th>Telefone</th>
                    <th>Rua</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in object_list %}
                <tr>
                    <td>{{ cliente.nome_completo }}</td>
                    <td>{{ cliente.cpf }}</td>
                    <td>{{ cliente.data_nascimento|date:"d/m/Y" }}</td>
                    <td>{{ cliente.telefone }}</td>
                    <td>{{ cliente.rua }}</td>
                    <td>{{ cliente.bairro }}</td>
                    <td>{{ cliente.cidade }}</td>
                    <td>
                        <a href="{% url 'cliente.atualizar' cliente.pk %}" class="btn-acoes" id="btn-editar">Editar</a>
                        <a href="{% url 'cliente.excluir' cliente.pk %}" class="btn-acoes" id="btn-excluir">Excluir</a>
                        <a href="{% url 'cliente.animais' cliente.pk %}" class="btn-acoes" id="btn-animais">Animais</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}