{% if user.is_authenticated %}
<style>
    nav{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: #3A5E5E;
        border-bottom: 1px solid black;
    }
    nav ul{
        display: flex;
        align-items: center;
        list-style: none;
    }
    ul li{
        margin-right: 10px;
    }
    ul li a{
        color: black;
    }
    .btn-menu{
        text-decoration: none;
        border: none;
        border-radius: 20px;
        color: black;
        padding: 5px 7px;
        text-align: center;
        margin: 20px;
        background-color: #85D6D5;
        font-weight: 700;
    }
</style>
<nav>
    <h2>Sistema Clínica</h2>
    <ul>
        <li><a href="{%  url 'home' %}" class="btn-menu">Página Inicial</a></li>
        <li><a href="{%  url 'cliente.index' %}" class="btn-menu">Clientes</a></li>
        <li><a href="{%  url 'logout' %}" class="btn-menu">Logout</a></li>
    </ul>
{% endif %}
</nav>