{% extends "main/base.html" %}
{% block content %}
{% load widget_tweaks %}
<style>
    body{
        margin: 0;
    }
    .texto-dicas{
        font-size: 11px;
        font-weight: bold;
    }
    .cadastro{
        width: 100vw;
        height: 100vh;
        background-color: #cfb699;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cadastro-principal{
        width: 50vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-cadastro{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 35px;
        background-color: #9e6d4e;
        border-radius: 20px;
    }
    .card-cadastro h1{
        color: #000000;
        font-weight: 800;
        margin: 0;
    }
    .formulario{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .form-control{
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 15px;
        background-color: white;
        outline: none;
        box-sizing: border-box;
    }
    .textos label{
        color: black;
        margin-bottom: 10px;
    }
    .textos{
        width: 100%;
    }
    .btn-cadastrar{
        width: 100%;
        padding: 16px 0px;
        margin-top: 25px;
        border: none;
        border-radius: 8px;
        outline: none;
        font-weight: 800;
        background-color: #e7bfa5;
        cursor: pointer;
    }
    .texto-ajuda{
        color: black;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .btn-entrar{
        background-color: #e7bfa5;
        text-decoration: none;
        border-radius: 5px;
        color: black;
        outline: none;
        font-weight: 700;
        margin-top: 10px;
        margin-left: 170px;
        margin-right: 170px;
        height: 30px;
        text-align: center;
        padding-top: 13px;
    }
</style>
<div class="cadastro">
    <div class="cadastro-principal">
        <div class="card-cadastro">
            <h1>CADASTRE-SE</h1>
            <div class="textos">
                <form class="formulario" method="POST">
                    {% csrf_token %}
                    <label for="username">Usuário</label>
                    {% render_field form.username class="form-control" id="username" placeholder="Usuário" %}
                    <p class="texto-dicas">Seu usuário deve ser único.</p>
                    <label for="email">Email</label>
                    {% render_field form.email class="form-control" id="email" placeholder="Email" %}
                    <p class="texto-dicas">Seu e-mail deve ser um e-mail válido.</p>
                    <label for="password1">Senha</label>
                    {% render_field form.password1 class="form-control" id="password1" placeholder="Senha" %}
                    <p class="texto-dicas">Sua senha deve ser diferente de suas informações pessoais.</p>
                    <p class="texto-dicas">Sua senha precisa conter pelo menos 8 caracteres.</p>
                    <p class="texto-dicas">Sua senha não pode ser uma senha comumente utilizada.</p>
                    <p class="texto-dicas">Sua senha não pode ser inteiramente numérica.</p>
                    <label for="password2">Confirmação de Senha</label>
                    {% render_field form.password2 class="form-control" id="password2" placeholder="Senha" %}
                    <button class="btn-cadastrar" type="submit">CADASTRAR</button>
                </form>
                <p class="texto-ajuda">Já possui conta?
                    <a href="/accounts/login" class="btn-entrar">Entrar</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}