{% extends "main/base.html" %}
{% block content %}
{% load widget_tweaks %}
<style>
    body{
        margin: 0;
    }
    .main-cadastro{
        width: 100vw;
        height: 100vh;
        background-color: #5F9998;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cadastro{
        width: 50vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-cadastro{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 35px;
        background-color: #3A5E5E;
        border-radius: 20px;
        box-shadow: 0px 10px 40px black;
    }
    .card-cadastro h1{
        color: #000000;
        font-weight: 800;
        margin: 0;
    }
    .formulario{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .form-control{
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 15px;
        background-color: white;
        outline: none;
        box-sizing: border-box;
    }
    .textfield label{
        color: black;
        margin-bottom: 10px;
    }
    .textfield{
        width: 100%;
    }
    .btn-cadastrar{
        width: 100%;
        padding: 16px 0px;
        margin-top: 25px;
        border: none;
        border-radius: 8px;
        outline: none;
        font-weight: 800;
        background-color: #85D6D5;
        cursor: pointer;
    }
    .text-center{
        color: black;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .btn-entrar{
        background-color: #85D6D5;
        text-decoration: none;
        border-radius: 5px;
        color: black;
        outline: none;
        font-weight: 700;
        margin-top: 10px;
        margin-left: 170px;
        margin-right: 170px;
        height: 30px;
        text-align: center;
        padding-top: 13px;
    }
</style>
<div class="main-cadastro">
    <div class="cadastro">
        <div class="card-cadastro">
            <h1>CADASTRE-SE</h1>
            <div class="textfield">
                <form class="formulario" method="POST">
                    {% csrf_token %}
                    <label for="username">Usuário</label>
                        {% render_field form.username class="form-control" id="username" placeholder="Usuário" %}
                        <br>
                        <label for="email">Email</label>
                        {% render_field form.email class="form-control" id="email" placeholder="Email" %}
                        <br>
                        <label for="password1">Senha</label>
                        {% render_field form.password1 class="form-control" id="password1" placeholder="Senha" %}
                        <br>
                        <label for="password2">Confirmação de Senha</label>
                        {% render_field form.password2 class="form-control" id="password2" placeholder="Senha" %}
                        <br>
                    <button class="btn-cadastrar" type="submit">CADASTRAR</button>
                </form>
                <p class="text-center">Já possui conta?
                    <a href="/accounts/login" class="btn-entrar">Entrar</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}