{% extends "main/base.html" %}
{% block content %}
<style>
    body{
        margin: 0;
        text-align: center;
    }
    .btn-entrar{
        background-color: blue;
        text-decoration: none;
        border: 3px solid blue;
        border-radius: 5px;
        color: white;
    }
</style>
<div class="">
    <h1>Cadastre-se</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary" type="submit">Cadastrar</button>
    </form>
    <p class="text-center">Já possui conta?
        <a href="/accounts/login" class="btn-entrar">Entrar</a>
    </p>
</div>
{% endblock content %}